@model HamtaInlagg
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="navigation">
        <span><a href="Index.html">BasketForum - Forum</a>>> Subforum</span>
    </div>
    <div class="inlagg-lista">
        <div class="table-head">
            <div class="status">Status</div>
            <div class="amnen">Ämnen</div>
            <div class="svar">Svar/Visningar</div>
            <div class="senast-svar">Senaste Svaret</div>
        </div>
        <div class="inlagg-row">
            <div class="status"><i class="fa fa-film"></i></div>
            <div class="amnen">
                <a href="visakommentar.php">Hur spelar man basket?</a>
                <br />
                <span>Skapad av <b><a href="#">Användare</a></b></span>
            </div>
            <div class="svar">
                2 Svar <br />
                125 Visningar
            </div>
            <div class="senast-svar">
                22 September 2022
                <br />Av <b><a href="#">Användare</a></b>
            </div>
        </div>
        <div class="inlagg-row">
            <div class="status"><i class="fa fa-film"></i></div>
            <div class="amnen">
                <a href="visakommentar.php">Hur spelar man basket?</a>
                <br />
                <span>Skapad av <b><a href="#">Användare</a></b></span>
            </div>
            <div class="svar">
                2 Svar <br />
                125 Visningar
            </div>
            <div class="senast-svar">
                22 September 2022
                <br />Av <b><a href="#">Användare</a></b>
            </div>
        </div>
        <div class="inlagg-row">
            <div class="status"><i class="fa fa-film"></i></div>
            <div class="amnen">
                <a href="visakommentar.php">Hur spelar man basket?</a>
                <br />
                <span>Skapad av <b><a href="#">Användare</a></b></span>
            </div>
            <div class="svar">
                2 Svar <br />
                125 Visningar
            </div>
            <div class="senast-svar">
                22 September 2022
                <br />Av <b><a href="#">Användare</a></b>
            </div>
        </div>
        <div class="inlagg-row">
            <div class="status"><i class="fa fa-film"></i></div>
            <div class="amnen">
                <a href="visakommentar.php">Hur spelar man basket?</a>
                <br />
                <span>Skapad av <b><a href="#">Användare</a></b></span>
            </div>
            <div class="svar">
                2 Svar <br />
                125 Visningar
            </div>
            <div class="senast-svar">
                22 September 2022
                <br />Av <b><a href="#">Användare</a></b>
            </div>
        </div>
    </div>
</div>